body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color: #5b2e48;

 }
 main {
     flex: 1 0 auto;
 }

.font-padding {
	padding: 15px;
	background-color: #5b2e48;
	 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5b2e48;
   color: white;
   text-align: center;

}


